body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #303030, #050505);
    color: white;
}

section {
    padding: 80px 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.hero {
    background: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.hero p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #bbbbbb;
}
    
.pfp {
    width: 90vw;             /* 90% of viewport width */
    max-width: 500px;        /* caps it on larger screens */
    aspect-ratio: 1 / 1;     /* ensures height = width */
    border-radius: 50%;      /* makes it a circle */
    object-fit: cover;       /* fills circle without stretching */
    display: block;          /* avoids inline spacing issues */
    margin: 0 auto 20px;
}

button {
    background: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 14px 30px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    background-color: rgb(78, 172, 78);
    color: white;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    margin-bottom: 20px;
}

p {
    color: #aaaaab;
}

.stats {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.stats p {
    margin-top: 35px;
}



.stats, .content {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}


.contact {
    border-top: 1px solid #222;
}